.explore_body{
    background-color: transparent;
    /* background-image: url("./compBg.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
  
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(76deg, #291D67, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(76deg, #291D67, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #200122;  /* fallback for old browsers */
background: -webkit-linear-gradient(45deg, #550a16, #200122);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(45deg, #550a16, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    overflow-y: scroll;
    overflow-x: hidden;
  
    background-size: 400% 400%;
    background-position: 0% 50%;
      animation: gradient 10s ease infinite;
  
    background-attachment: fixed;

    font-family: 'Poppins',sans-serif;
    color: #FFFFFF;
  
    z-index: 10;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 99% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.explore{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85vw;
    margin: auto;
    z-index: 3;
}
.imgdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    width: 35%;
    height: 100vh;
    flex-direction: column;
}
.imgCon{
    width:80%; 
    border-radius: 16px;
    -webkit-box-shadow:0px 0px 49px 26px rgba(255, 255, 255, 0.153);
    -moz-box-shadow: 0px 0px 49px 26px rgba(255, 255, 255, 0.168);
    box-shadow: 0px 0px 49px 26px rgba(255, 255, 255, 0.156);
    animation: floating 3.5s infinite ease-in-out;
}
.explore_image{
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
}
a{
    color: white;
}
@keyframes floating {
    0% { transform: translate(0,  0px) scale(1);
    }
    50%  { transform: translate(0, 15px) scale(0.97); }
    100%   { transform: translate(0, -0px) scale(1);}   
}
.explore_content{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
.explore_heading{
    font-family: 'Akira';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.01vw;
    align-self: center;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    width: 110%;
    margin-bottom: 5px;

    background: #ffded2; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      45deg,
      #ffa484,
      #ffded2
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      45deg,
      #ffa484,
      #ffded2
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    background-size: 300% 300%;
    animation: gradient 3s ease infinite;
  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.explore_details{
    margin-top: 4vh;
    margin-bottom: 2vh;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
backdrop-filter: blur(3px);
/* Note: backdrop-filter has minimal browser support */
width:80%;
height:47vh;
border-radius: 1.4vw;
padding: 2rem;
display: flex;
flex-direction: column;
z-index: 10;
}
.explore_navbar{
    align-self: center;
    display: flex;
    box-sizing: border-box;
    /* opacity: 0.5; */
    /* margin-left: 2vw; */
}
.explore_navoptions{
    border-left: 1px solid white;
    padding-left: 1vw;
    padding-right: 1vw;
    color: rgba(255, 255, 255, 0.71);
    font-size: 1.3vw;
}
.explore_navoptions:hover{
    
opacity: 0.8;
}
.event_register_button{
    font-family: "Poppins",sans-serif;
    background: white;
    color: #251C5F;
    font-weight: bold;
    font-size: 20px;
    width: fit-content;
    padding: 10px 35px; 
    margin: 25px 0;
    border: 0.1vw solid rgba(255, 255, 255, 0.8);
    border-radius: 0.8vw;
    letter-spacing: 0.05vw;
}
.event_register_button1{
    margin-top: 3vh;
    font-family: "Poppins",sans-serif;
    background: white;
    color: #251C5F;
    font-weight: bold;
    font-size: 1.1vw;
    width: 12vw;
    height: 6vh;
    align-self: center;
    border: 0.1vw solid rgba(255, 255, 255, 0.8);
border-radius: 0.8vw;
letter-spacing: 0.03vw;
}
.explore_description{
    margin-top: 3vw;
    height:40vh ;
    overflow-y : auto;
    font-size: 20px;
}
.explore_details1{
    /* margin-top: 6vh; */
    margin-bottom: 2vh;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
backdrop-filter: blur(3px);
/* Note: backdrop-filter has minimal browser support */
width:85%;
/* height:54vh; */
border-radius: 1.4vw;
padding: 2rem;
display: flex;
flex-direction: column;
z-index: 2;
}
.explore_description1{
    /* margin-top: 3vw; */
    /* height:40vh ; */
    overflow-y : auto;

}
.explore_contact{
    top: -8%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.active{
    color: #FFFFFF ;
    font-weight: bolder ;
    font-size: 1.4vw ;
}

.none{
    display: none;
  }

  .notnone{
    display: block;
  }

@media (max-width:630px) {
    .explore_body{
        height: max-content;
        padding-left: 18vw;
        z-index: 3;
        /* bc of sidebar */
    }
    .explore{
        flex-direction: column;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
    }
    .imgdiv{
        flex-direction: column;
        /* flex-direction: column; */
        height: fit-content;
        padding: 10px 0 30px;
        gap:0;
    }
    .explore_heading{
        font-size: 20px;
        line-height: 40px;
    letter-spacing: 0vw;
    width: 90%;
    margin-top: 10vh;
        align-self: center;
    }
    .explore_content{
        display: flex;
        flex-direction: column;
        width: 95%;
        align-items: center;
        margin-bottom: 5vh;
    }
    .imgdiv{
        width: 80%;
    }
    .event_register_button{
        font-size: 3vw;
        padding: 0px 0px 0px 0px;
        width: 28vw;
        height: 4vh;
        margin-top: 1vh;
    }
    .event_register_button1{
        margin-bottom: 3vh;
        font-size: 3vw;
        width: 28vw;
        height: 4vh;
    }
    .explore_navoptions{
        font-size: 2.7vw;
    }
    .active{
        color: #FFFFFF ;
        font-weight: bolder ;
        font-size: 2.8vw ;
    }
    .explore_details{
        padding: 2rem 3vw 2rem 3vw;
        /* text-align: justify; */
        font-size: 4vw;
    }
    .explore_description{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
    }
    .none{
        display: block;
      }
    
      .notnone{
        display: none;
      }
}
