.card {
  width: 48%;
  height: 170px;
  /* border: 2px solid black; */
  display: flex;
  gap: 5px;

  border-radius: 16px;
  font-family: "Poppins", "sans-serif";
  color: white;
  box-sizing: border-box;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(3px);
  transition: transform 0.5s;
  overflow: hidden;
}

a{
  text-decoration: none;

  color: #0f0d3f;
}

.card .imgContainer{
  height: 100%;
  aspect-ratio: 1/1;
}

.card .image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.card .content {
  padding: 2vh 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  flex: 1;
}

.card .content .name {
  font-weight: bold;
  font-size: 1.5vw;
  line-height: auto;
  text-transform: uppercase;
}

.card .content .tag {
  display: flex;
  gap: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card .content .tag div {
  background-color: rgba(255, 255, 255, 0.412);
  /* border: 2px solid black; */
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 0.95vw;
  margin-bottom: 1vh;
  color: #ffffff;
}

.card .content .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
  /* margin: 15px 0 5px; */
}
.card .content .btn .expbtn {
  display: block;
  /* padding: 5px 10px; */
  border-radius: 5px;

  border: 1.15429px solid white;
  border-radius: 10px;
  background: transparent;
  width: 100%;
  color: white;
  font-weight: bold;
  height: 4.3vh;
  opacity: 0.8;
  /* cursor: pointer; */
  font-family: "Poppins", "sans-serif";
  transition: transform 0.5s;
  font-size: 1vw;
}

.card .content .btn .regbtn {
  display: block;
  /* padding: 5px 10px; */
  border-radius: 5px;
  border: 1.15429px solid white;
  border-radius: 10px;
  background: transparent;
  width: 100%;
  color: #0f0d3f;
  font-weight: bold;
  height: 4.3vh;
  opacity: 0.8;
  /* cursor: pointer; */
  font-family: "Poppins", "sans-serif";
  transition: transform 0.5s;
  font-size: 1vw;
  color: #0f0d3f;
  background-color: white;
}

.regbtn:hover {
    transform: scale(1.04);
  }
  .expbtn:hover {
    transform: scale(1.04);
  }

@media ((min-width: 950px) and (max-width: 1150px)) {
    .card{
      width: 55%;
    }
  }

@media (max-width:950px) {
    .card {
        width: 70%;
        height: 160px;
    }
    .card .content .name {
        font-size: 2vw;
    }
    .card .content .btn .expbtn{
        font-size: 1.5vw;
        width: 50%;
    }
    .card .content .btn .regbtn{
        font-size: 1.5vw;
        width: 50%;
    }
    .card .content .tag div{
        font-size: 1.5vw;
        
    }
  }

@media (max-width:750px) {
  .clubName{
    display: none;
  }
}

@media (max-width:600px) {
    .card {
        width: 90%;
        height: 120px;
    }
    .card .content .name {
        font-size: 3vw;
    }
    .card .content .btn .expbtn{
        font-size: 2vw;
    }
    .card .content .btn .regbtn{
        font-size: 2vw;
    }
    .card .content .tag div{
        font-size: 2vw;
        
    }
  }
@media (max-width:400px) {
    .card {
        width: 77%;
        height: 120px;
    }
    .card .content .name {
        font-size: 3vw;
    }
    .card .content .btn {
      gap: 5px;
    }
    .card .content .btn .expbtn{
        font-size: 2vw;
        height: fit-content;
        padding: 4px 0;
    }
    .card .content .btn .regbtn{
        font-size: 2vw;
        height: fit-content;
        padding: 4px 0;
    }
    .card .content .tag div{
        font-size: 2vw;
        
    }
  }