.flash-message {
    position: absolute;
    bottom: 50px;
  width: fit-content;
  z-index: 9;
  width: fit-content;
  height: fit-content;
  color: #fff;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 18px;
  font-size: 1.5rem;

}
