/* @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css); */
/* @import url(https://fonts.googleapis.com/css?family=Titillium+Web:300); */
.fa-2x {
  font-size: 2em;
}
.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  left: 4%;
}

.main-menu:hover,
nav.main-menu.expanded {
  width: 182px;
  overflow: visible;
  overflow-x: hidden;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.main-menu {
  background: black;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  border: 1px solid rgba(255, 255, 255, 0.15);

  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  height: 85%;
  left: 1.5%;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
  /* -webkit-transform: translateZ(0) scale(1, 1); */
  z-index: 150;
  border-radius: 1rem;
  overflow: hidden;
}
.top-header > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: white;
  font-size: 14px;
  text-decoration: none;
  transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.anchor{
  width: fit-content;
  overflow-x:hidden;
  background-color: inherit;
  color: white;
  border:none;
  outline: none;
}
.image-plinth {
  width: 51px;
  height: 51px;
  left: 3%;
  padding: 1px;
  transition: transform 0.2s linear;
}
.image-plinth:hover {
  transform: scale(1.1);

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.main-menu > ul {
  margin: 8px 6.5px;
}

.main-menu li {
  position: relative;
  display: block;
  width: 240px;
  overflow-x: hidden;
  opacity: 0.8;
  transition: all 0.5s;
}

.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: white;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  border-radius: 16px;
  transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
  overflow-x: hidden;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 17px;
}
.nav-icon {
  background-color: white;
}
.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  font-family: "poppins", sans-serif;
  color: white;
  font-weight: lighter;
  left: 14%;
  margin-left: 10px;
}

.main-menu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  overflow: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
  overflow-x: hidden;

  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}

a:hover,
a:focus {
  text-decoration: none;
  transition-delay: 0.3s;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}
.main-menu li:hover > a,
nav.main-menu li.active > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  /* From https://css.glass */
  /* background: rgba(255, 255, 255, 0.09); */
  border-radius: 16px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px); */
  /* border: 1px solid rgba(255, 255, 255, 0.15);

  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s; */
}
.main-menu li:hover{
  opacity: 1;
  transform: scale(1.03);
}
.plinth-text{
  opacity: 0.9;
    left:75%;
    font-size: 19px;
    transition: all 0.5s;
}
.plinth-text:hover{
  opacity: 1;
  transform: scale(1.03);
}

.lnmhackslogo{
  height: 25px;
  width: 25px;
}