.explore_body {
  background-color: transparent;
  /* background-image: url("./compBg.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  overflow-y: scroll;
  overflow-x: hidden;

  background-image: url("./accomodationbg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 

  background-attachment: fixed;

  font-family: "Poppins", sans-serif;
  color: #ffffff;

  z-index: 10;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 99% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.explore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85vw;
  margin: auto;
  z-index: 3;
}
.imgdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  width: 35%;
  height: 100vh;
  flex-direction: column;
}
.imgCon {
  width: 80%;
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 49px 26px rgba(255, 255, 255, 0.153);
  -moz-box-shadow: 0px 0px 49px 26px rgba(255, 255, 255, 0.168);
  box-shadow: 0px 0px 49px 26px rgba(255, 255, 255, 0.156);
  animation: floating 3.5s infinite ease-in-out;
}
.explore_image {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
}
a {
  color: white;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px) scale(1);
  }
  50% {
    transform: translate(0, 15px) scale(0.97);
  }
  100% {
    transform: translate(0, -0px) scale(1);
  }
}
.explore_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.explore_heading {
  
  margin-bottom: 5px;

/* ................  */
  font-family: 'Dark';
    font-style: normal;
    font-weight: 400;
    font-size: 3.3vw;
    align-self: center;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    background: linear-gradient(45deg, #ffffffd3 0%, rgba(255, 255, 255, 0.532) 128%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
}

.explore_details {
  margin-top: 4vh;
  margin-bottom: 2vh;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05)
  );
  backdrop-filter: blur(3px);
  /* Note: backdrop-filter has minimal browser support */
  width: 80%;
  height: 55vh;
  border-radius: 1.4vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
.explore_navbar {
  align-self: center;
  display: flex;
  box-sizing: border-box;
  /* opacity: 0.5; */
  /* margin-left: 2vw; */
}
.explore_navoptions {
  border-left: 1px solid white;
  padding-left: 1vw;
  padding-right: 1vw;
  color: rgba(255, 255, 255, 0.71);
  font-size: 1.3vw;
}
.explore_navoptions:hover {
  opacity: 0.8;
}
.event_register_button {
  font-family: "Poppins", sans-serif;
  background: white;
  color: #251c5f;
  font-weight: bold;
  font-size: 20px;
  width: fit-content;
  padding: 10px 35px;
  margin: 25px 0;
  border: 0.1vw solid rgba(255, 255, 255, 0.8);
  border-radius: 0.8vw;
  letter-spacing: 0.05vw;
}
.event_register_button1 {
  margin-top: 3vh;
  font-family: "Poppins", sans-serif;
  background: transparent;
  color: white;
  font-weight: bold;
  font-size: 1.1vw;
  width: 12vw;
  height: 7vh;
  align-self: center;
  border: 0.1vw solid rgba(255, 255, 255, 0.8);
  border-radius: 0.8vw;
  letter-spacing: 0.03vw;
}
.explore_description {
  margin-top: 3vw;
  height: 40vh;
      
  overflow-y: auto;
  font-size: 20px;
}
.explore_details1 {
  /* margin-top: 6vh; */
  margin-bottom: 2vh;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05)
  );
  backdrop-filter: blur(3px);
  /* Note: backdrop-filter has minimal browser support */
  width: 85%;
  /* height:54vh; */
  border-radius: 1.4vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.explore_description1 {
  /* margin-top: 3vw; */
  /* height:40vh ; */
  
  overflow-y: auto;
}
.explore_contact {
  top: -8%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.active {
  color: #ffffff;
  font-weight: bolder;
  font-size: 1.4vw;
}
.dot {
  font-family: "poppins";
  font-size: 5vw;
}

.none{
  display:  none;
}

.notnone{
  display: block;
}

@media (max-width: 630px) {
  .explore_body {
    height: max-content;
    padding-left: 3vw;
    z-index: 3;
    min-height: 100vh;
  }
  .explore {
    flex-direction: column;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
  }
  .explore_description{
    margin-top: 2vw;
    height: max-content; 
    
  }
  .imgdiv {
    flex-direction: column;
    /* flex-direction: column; */
    height: fit-content;
    /* padding: 10px 0 65px; */
    gap: 35px;
  }
  .explore_heading {
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0vw;
    width: max-content;
    margin-top: 2vh;
    margin-bottom: 4vh;
    align-self: center;
  }
  .explore_content {
    /* margin-top: 40px; */
    
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    margin-bottom: 6vh;
  }
  .imgdiv {
    width: 80%;
  }
  .event_register_button {
    font-size: 3vw;
    padding: 0px 0px 0px 0px;
    width: 28vw;
    height: 4vh;
    margin-top: 1vh;
    /* margin-bottom: 2vh; */
  }
  .event_register_button1 {
    margin-top: 0;
    font-size: 3vw;
    width: 28vw;
    height: 4vh;
  }
  .explore_navoptions {
    font-size: 2.7vw;
  }
  .active {
    color: #ffffff;
    font-weight: bolder;
    font-size: 2.8vw;
  }
  .explore_details {
    padding: 2rem 3vw 2rem 3vw;
    /* text-align: justify; */
    font-size: 4vw;
    margin-top:0;
    height: max-content;
    width: 85%;
    position: relative;
    right: -5vw;
  }

  .none{
    display: block;
  }

  .notnone{
    display: none;
  }
  .explore_description {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
  }
}
