.background {
    position: relative;
    padding: 0 0 2% 0%;
  /* background-color: white; */
  /* height: auto; */
  width: 100vw;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.typewriter{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 2s infinite;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
.heading{   font-family: 'Dark';
    font-style: normal;
    font-weight: 400;
    font-size: 3.3vw;
    align-self: center;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    background: linear-gradient(45deg, #ffffffd3 0%, rgba(255, 255, 255, 0.532) 128%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    margin-top:4.5vh;
    margin-bottom:4vh;

}
.Form {
    position: relative;
    width: 70%;
  background: linear-gradient(
      176.03deg,
      rgba(124, 228, 197, 0.024) 0.99%,
      rgba(199, 204, 255, 0.052) 99.35%
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));

  border-radius: 16px;
  padding: 2% 0% 2.5% 0%;
  /* margin: auto;
  padding: 8%; */
  display: flex;
  /* align-items: center; */
  justify-content:space-around;
  margin-right: 8%;
  margin-left: 8%;
  margin-bottom: 2%;
  z-index: 5;

  background: rgba(255, 255, 255, 0.063);
/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );
border-radius: 10px;
/* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}
.h3 {
  font-size: 10%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 1.4vw;
  opacity: 0.9;
  text-align: center;
  /* line-height: 27px; */
  /* identical to box height */

  color: #ffffff;
}
.Personal {

    width: 35%;
  display: flex;
  flex-direction: column;

}
.Institute {

    width: 35%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}


.input {
    width: 100%;
    outline: none;
    display: block;
  font-family: Poppins;
  font-size: 1vw;
  font-weight: 500;
  color: #cccccc;
    margin:3% 0 3% 0;
  background: none;
  border: 0px;
  border-bottom: 2px solid #ffffff4d;
  padding: 10px 10px 15px 0px;
padding-left: 2%;

}
.p {
    color: red;
    font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
    text-align: left;
    /* font-size: 1.2rem; */
    margin: 0%;
  }
  
 .p::before {
    display: inline;
    content: "⚠ ";
  }
.input::placeholder {
  color: #cccccc;
}
input:auto-fill{
    background: none !important;;
    background-color: transparent!important;
}
.btn {
  font-family: "Poppins";
  font-size: 1.3vw;
  font-weight: 600;
  letter-spacing: 0.05vw;
  color: rgba(255, 255, 255, 0.8);
  /* width: 50%; */
  background: none;
  border: 1.5px solid #ffffff;
  border-radius: 12px;
  padding: 1.5% 8%;
  /* margin: auto 30%; */
  margin-top: 8%;
}

.Handles{
  opacity: 1;
  z-index: 6;
}

.acco{

}

.acco_title{
  font-family: Poppins;
    font-size: 1.25vw;
    font-weight: 500;
    color: #cccccc;
    margin: 5% 0 5% 0;
}

.acco_inner{

}

.acco_inner label{
  font-family: Poppins;
    font-size: 1.5vw;
    font-weight: 500;
    color: #cccccc;
    margin-right: 10px;
}

.acco_inner input{
  border-radius: 50%;
  font-size: 5px;
  margin-right: 5px;
}
.radio{
  size: 5%;
}
.radioLabel{
  font-size: 1.5vw;
}

@media only screen and (max-width: 768px) {
  .Form{
    flex-direction: column;
    align-items: center;
  }
  .Personal{
    width: 60%;

  }
  .Institute{
    margin-top: 5%;
    width: 60%;
  }
  .input{
    font-size: 1.5vw;
  }
  .btn{
    font-size: 1.5vw;
  }
}
@media only screen and (max-width:486px){
  .Form{
    margin-left: 65px;
  }
}